.card-centerStart{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card-centerEnd{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.svg-icon{
  cursor: pointer;

}
