<form class="w-3/4 mx-auto mt-5" [formGroup]="searchForm" (submit)="onSubmit()">
  <div class="flex">
    <select formControlName="types" class="bg-gray-50 border font-medium border-gray-300 text-gray-900 text-sm rounded-s-lg border-s-gray-100 border-s-2 focus:ring-blue-500 focus:border-blue-500 block p-2.5">
      <option *ngFor="let state of types" [ngValue]="state">
        {{ state.name }}
      </option>
    </select>
    <div class="relative w-full">
      <input formControlName="search" type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Avatar, Peaky Blinders..." required />
      <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-darkBlue rounded-e-lg border border-darkBlue hover:bg-opacity-70 focus:ring-4 focus:outline-none focus:ring-blue-300">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only font-semibold">Search</span>
      </button>
    </div>
  </div>
</form>
